<header>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container-fluid">

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <!-- <ul class="navbar-nav ms-auto"> -->
<!--
ms-auto poussait le menu à la droite. me-auto pousse le menu à la gauche en remplissant l'espace à droite, forçant l'élément suivant (la marque) à se positionner sur le bord droit du conteneur.                    
-->                    
                <ul class="navbar-nav                       me-auto">                    
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#accueil">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#projets">Projets</a>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Services
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Service 1</a></li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#" id="submenuService2" role="button">
                                    Service 2
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="submenuService2">
                                    <li><a class="dropdown-item" href="#">Sous-service A</a></li>
                                    <li><a class="dropdown-item" href="#">Sous-service B</a></li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#" id="submenuService3" role="button">
                                            Service 3
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="submenuService3">
                                            <li><a class="dropdown-item" href="#">Sous-service C</a></li>
                                            <li><a class="dropdown-item" href="#">Sous-service D</a></li>
<!--
DEBUT ========> SOUS MENU de QUATRIEME NIVEAU :::::::::                                            
-->                                            
                                                        <li class="dropdown-submenu">
                                                            <a class="dropdown-item dropdown-toggle" href="#" id="submenuService5" role="button">
                                                                Service 5
                                                            </a>
                                                            <ul class="dropdown-menu" aria-labelledby="submenuService5">
                                                                <li><a class="dropdown-item" href="#">Sous-service D_1</a></li>
                                                                <li><a class="dropdown-item" href="#">Sous-service D_2</a></li>
                                                            </ul>
                                                        </li>         <!-- <li class="dropdown-submenu"> -->
<!--
FIN   ========> SOUS MENU de QUATRIEME NIVEAU !!!!!!!!!
-->
                                        </ul>
                                    </li>         <!-- <li class="dropdown-submenu"> -->
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#" id="submenuService4" role="button">
                                    Service 4
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="submenuService4">
                                    <li><a class="dropdown-item" href="#">Sous-service E</a></li>
                                    <li><a class="dropdown-item" href="#">Sous-service F</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#temoignages">Témoignages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#a-propos">À Propos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="email_Javascript.htm#email_JAVASCRIPT">Email</a>
                    </li>                    
                </ul>
            </div>       <!--  <div class="collapse navbar-collapse" id="navbarNavDropdown">  -->

            <a class="navbar-brand" href="#accueil">Mario | DEV</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        </div>
    </nav>
</header>

<!--
DEBUT ========> de la BARRE DE NAVIGATION des MENUS et SOUS MENUS ou NavBar :::::::::::::::

<header>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container-fluid">
            
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav me-auto"> 
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#accueil">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#projets">Projets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            
            <a class="navbar-brand order-lg-last" href="#accueil">Mario | DEV</a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
        </div>
    </nav>
</header>

FIN   ========> de la BARRE DE NAVIGATION des MENUS et SOUS MENUS ou NavBar !!!!!!!!!!!!!!!
-->
